@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --theme-color: #2467bf;
  --secondary-color: #113059;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none !important;
  font-family: "Open Sans", sans-serif;
}

.section {
  padding: 6rem 0;
}

a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
  margin: 0;
}

.title-container {
  margin-bottom: 2rem;
}
.title-container .subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #db0410;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.title-container .title {
  font-size: 32px;
  font-weight: 500;
  color: #2f2482;
  text-transform: capitalize;
}

.custom-button {
  margin-top: 2rem;
}
.custom-button .button-link {
  display: block;
  background-color: #2f2482;
  color: #ffffff;
  max-width: 140px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.custom-button .button-link:hover::before {
  top: -40%;
}
.custom-button .button-link::before {
  content: "";
  position: absolute;
  transition-duration: 600ms;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: #db0410;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo {
  max-width: 150px;
  height: 80px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 0;
}
.header .nav .nav__list .nav__item {
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  padding: 2rem 0;
  font-weight: 500;
}
.header .nav .nav__list .nav__item:hover a {
  color: #db0410;
}
.header .nav .nav__list .nav__item:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
}
.header .nav .nav__list .nav__item a {
  color: #2f2482;
}
.header .nav .nav__list .nav__item .submenu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: #ffffff;
  padding: 2rem;
  z-index: 999;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.07);
  border-radius: 0 0 5px 5px;
  visibility: hidden;
  transform: scale(1, 0);
  transform-origin: 0 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .nav-tabs {
  border-right: 1px solid #dee2e6;
  border-bottom: none;
  padding-left: 0;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .nav-tabs .nav-item {
  margin-bottom: 10px;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .nav-tabs .nav-item:last-child {
  margin-bottom: 0;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .nav-tabs .nav-item .nav-link {
  color: #2f2482;
  border: none;
  display: block;
  font-weight: 500;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .nav-tabs .nav-item .nav-link.active {
  color: #db0410;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands h5 {
  font-size: 15px;
  margin-bottom: 1rem;
  color: #2f2482;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands .brands__card {
  display: block;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands .brands__card .brand__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands .brand__btn {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #f2f2eb;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-top: 1rem;
  color: #2f2482;
  position: relative;
  border-radius: 5px;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands .brand__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #db0410;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .brands .brand__btn .brand__btn--inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .row [class*=col-]:last-child .cards {
  border-right: none;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards {
  border-right: 1px solid #ccc;
  padding-right: 2rem;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__image img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__content {
  margin-top: 1rem;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__content .cards__title {
  font-size: 19px;
  color: #2f2482;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
  display: block;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__content p {
  font-size: 14px;
  color: #5f5d5d;
  text-transform: initial;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__content .cards__btn {
  color: #db0410;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}
.header .nav .nav__list .nav__item .submenu .submenu__content .cards .cards__content .cards__btn:hover {
  color: #2f2482;
}

.footer .footer__top {
  position: relative;
}
.footer .footer__top::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #322c59;
  z-index: -1;
}
.footer .footer__top .footer__top--bg {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3rem;
  border-radius: 5px;
}
.footer .footer__top .footer__top--bg::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #f2f2eb;
  border-radius: 5px;
  z-index: -1;
}
.footer .footer__top .footer__top--bg .footer__top--content h3 {
  font-size: 27px;
  font-weight: 500;
  color: #2f2482;
  line-height: 40px;
}
.footer .footer__top .footer__top--bg .footer__top--button {
  display: flex;
  align-items: center;
  gap: 0;
}
.footer .footer__top .footer__top--bg .footer__top--button input {
  border: none;
  height: 50px;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  background-color: #ffffff;
  padding: 0 10px;
  width: 100%;
}
.footer .footer__top .footer__top--bg .footer__top--button .subscribe-btn {
  border-radius: 0 10px 10px 0;
  height: 50px;
  font-size: 14px;
  background-color: #2f2482;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.footer .footer__top .footer__top--bg .footer__top--button .subscribe-btn:hover {
  background-color: #db0410;
}
.footer .footer__top .footer__top--bg .footer__top--button .subscribe-btn i {
  font-size: 16px;
}
.footer .footer__container {
  background-color: #322c59;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer .footer__container .footer__inner {
  padding: 5rem 0;
}
.footer .footer__container .footer__inner .footer__bg--image {
  position: absolute;
  top: -127px;
  right: 0;
  z-index: -1;
}
.footer .footer__container .footer__inner .footer__bg--image img {
  width: 100%;
  height: 100%;
}
.footer .footer__container .footer__inner .footer__block {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer .footer__container .footer__inner .footer__block .footer__logo {
  max-width: 80px;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.footer .footer__container .footer__inner .footer__block .footer__logo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.footer .footer__container .footer__inner .footer__block .footer__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: #ffffff;
}
.footer .footer__container .footer__inner .footer__block .footer__text {
  font-size: 14px;
  line-height: 1.65;
  color: #ffffff;
  text-align: start;
  margin-bottom: 0;
}
.footer .footer__container .footer__inner .footer__block .footer__socials {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.footer .footer__container .footer__inner .footer__block .footer__socials .icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  background-color: #f2f2eb;
}
.footer .footer__container .footer__inner .footer__block .footer__socials .icon i {
  font-size: 18px;
  color: #2f2482;
}
.footer .footer__container .footer__inner .footer__block .footer__socials .icon:hover {
  background-color: #2f2482;
}
.footer .footer__container .footer__inner .footer__block .footer__socials .icon:hover i {
  color: #ffffff;
}
.footer .footer__container .footer__inner .footer__block .footer__list {
  margin-bottom: 0;
  padding-left: 0;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item {
  position: relative;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 15px;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item:last-child {
  margin-bottom: 0;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item a {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item a:hover {
  color: #db0410;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item.footer__info--item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: unset;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item.footer__info--item:last-child {
  align-items: start;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item.footer__info--item i {
  font-size: 20px;
  margin-right: 0.8rem;
  color: #f2f2eb;
}
.footer .footer__container .footer__inner .footer__block .footer__list .footer__item.footer__info--item .address {
  font-size: 15px;
  color: #ffffff;
}
.footer .footer__container .footer__inner .footer__block .footer__info {
  background: #322c59;
  border: 1px solid #333f4d;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}
.footer .footer__container .footer__bottom {
  color: #ffffff;
  border-top: 1px solid #333f4d;
}
.footer .footer__container .footer__bottom .bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 1rem 0;
}
@media (max-width: 576px) {
  .footer .footer__container .footer__bottom .bottom-list {
    gap: 0.5rem;
    flex-direction: column;
  }
}
.footer .footer__container .footer__bottom .bottom-list a {
  color: #db0410;
  padding-left: 5px;
}
.footer .footer__container .footer__bottom .bottom-list .footer__copyright span {
  color: #db0410;
}

.banner .banner__image {
  max-width: 100%;
  height: 90vh;
}
.banner .banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  background-image: cover;
  background-position: 130% 90%;
  background-repeat: no-repeat;
}
.about .about__wrap {
  padding-top: 9rem;
}
.about .about__wrap .about__image {
  height: 100%;
}
.about .about__wrap .about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.about .about__wrap .about__content--wrap {
  position: relative;
}
.about .about__wrap .about__content--wrap .about__content {
  max-width: 70%;
}
.about .about__wrap .about__content--wrap .about__content .about__text {
  font-size: 15px;
  color: #5f5d5d;
  line-height: 1.75;
}
.about .about__wrap .about__content--wrap .experience {
  position: absolute;
  top: -100px;
  right: 0;
  max-width: 150px;
}
.about .about__wrap .about__content--wrap .experience img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.about .about__wrap .about__content--wrap .experience .experience__title {
  width: 100%;
  padding: 0.8rem;
  background-color: #db0410;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0 0 5px 5px;
  text-transform: capitalize;
  text-align: center;
}

.legacy {
  background-color: #322c59;
  padding: 3rem 0;
  position: relative;
}
.legacy .legacy__content .title-container .title {
  color: #ffffff;
}
.legacy .legacy__content .legacy__text {
  font-size: 15px;
  line-height: 1.75;
  color: #ffffff;
  margin-bottom: 0;
  text-align: start;
}
.legacy .legacy__content .custom-button .button-link {
  background-color: #db0410;
}
.legacy .legacy__content .custom-button .button-link::before {
  background-color: #2f2482;
}
.legacy .legacy__image {
  background-color: #b5b0d9;
  padding: 4rem;
  position: absolute;
  bottom: -40px;
  top: 0;
  z-index: 1;
}
.legacy .legacy__image::before {
  border-right: 24px solid #b5b0d9;
  border-bottom: 40px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -24px;
  position: absolute;
  z-index: -1;
  bottom: 0px;
}
.legacy .legacy__image img {
  width: 100%;
  height: 400px;
}

.what-we-do .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.what-we-do .row [class*=col-]:nth-child(even) .what-we-do__card {
  margin-top: 30px;
}
.what-we-do .what-we-do__card {
  border-radius: 5px;
}
.what-we-do .what-we-do__card .what-we-do__image {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.what-we-do .what-we-do__card .what-we-do__image:hover img {
  transform: scale(1.08);
}
.what-we-do .what-we-do__card .what-we-do__image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(3.65deg, #0e1e2a 5.86%, rgba(14, 30, 42, 0) 82.23%);
  border-radius: 5px;
  z-index: 1;
}
.what-we-do .what-we-do__card .what-we-do__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.what-we-do .what-we-do__card .what-we-do__image .what-we-do__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 18px;
  text-align: start;
  text-transform: capitalize;
  z-index: 2;
  color: #ffffff;
  font-weight: 500;
}

.testimonials {
  background-color: #f2f2eb;
  position: relative;
}
.testimonials .testimonials__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.testimonials::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 0;
  width: 49%;
  height: 100%;
  background-color: #322c59;
  -webkit-clip-path: polygon(42% 1%, 100% -159%, 100% 100%, 0% 100%);
          clip-path: polygon(42% 1%, 100% -159%, 100% 100%, 0% 100%);
}
.testimonials .testimonials__content .testimonials__card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.testimonials .testimonials__content .testimonials__card .testimonials__image img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.testimonials .testimonials__content .testimonials__card .testimonials__card--content .testimonials__text {
  font-size: 14px;
  color: #5f5d5d;
  line-height: 1.75;
  font-style: italic;
}
.testimonials .testimonials__content .testimonials__card .testimonials__card--content .testimonials__title .name {
  font-size: 18px;
  color: #2f2482;
  margin-bottom: 5px;
  font-weight: 500;
}
.testimonials .testimonials__content .testimonials__card .testimonials__card--content .testimonials__title .designation {
  font-size: 12px;
  color: #5f5d5d;
  margin-bottom: 0;
  text-transform: capitalize;
}
.testimonials .testimonials__content .testimonials__card .testimonials__quot {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

@keyframes leftToRight {
  49% {
    transform: translateX(30%);
  }
  50% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
  }
}
.blog .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog .blog__card {
  background-color: #ffffff;
  box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
  border-radius: 5px;
  display: block;
  overflow: hidden;
  max-width: 100%;
}
.blog .blog__card:hover .blog__image img {
  transform: scale(1.08);
}
.blog .blog__card .blog__image {
  border-radius: 5px 5px 0 0;
}
.blog .blog__card .blog__image img {
  max-width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.blog .blog__content {
  padding: 1.5rem;
}
.blog .blog__content .blog__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.blog .blog__content .blog__info span {
  font-size: 13px;
  color: #5f5d5d;
}
.blog .blog__content .blog__info span i {
  color: #2f2482;
  margin-right: 8px;
}
.blog .blog__content .blog__title {
  font-size: 20px;
  font-weight: 500;
  text-transform: initial;
  color: #2f2482;
  margin-bottom: 1.2rem;
  transition: all 0.3s ease;
}
.blog .blog__content .blog__title:hover {
  color: #db0410;
}
.blog .blog__content .blog__button {
  text-transform: uppercase;
  color: #db0410;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
.blog .blog__content .blog__button:hover i {
  animation: leftToRight 0.5s forwards;
}
.blog .blog__content .blog__button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  height: 1px;
  width: 60%;
  background: #e3e3e3;
}
.blog .blog__content .blog__button i {
  margin-left: 5px;
  font-size: 20px;
}/*# sourceMappingURL=import.css.map */