@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none !important;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 3rem 0;
}
a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
