.headline {
  .headline__news {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 65px;
      font-weight: 600;
      text-align: center;
      transition: 0.3s;
      line-height: 1.18;
      @media (max-width: 1125px) {
        font-size: 48px;

        @media (max-width: 950px) {
          font-size: 40px;
        }
      }

      &:hover {
        a {
          color: $main;
        }
      }

      a {
        color: $sec;
      }
    }

    .feauted-img {
      margin-top: 1rem;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .add-section {
    border-bottom: 1px solid $light-color;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
