.testimonials {
  background-color: $light-gray;
  position: relative;
  .testimonials__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: 0;
    width: 49%;
    height: 100%;
    background-color: $third;
    clip-path: polygon(42% 1%, 100% -159%, 100% 100%, 0% 100%);
  }

  .testimonials__content {
    .testimonials__card {
      position: relative;
      background-color: $white;
      box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 2rem;

      .testimonials__image {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          clip-path: polygon(
            30% 0%,
            70% 0%,
            100% 30%,
            100% 70%,
            70% 100%,
            30% 100%,
            0% 70%,
            0% 30%
          );
        }
      }
      .testimonials__card--content {
        .testimonials__text {
          font-size: 14px;
          color: $textColor;
          line-height: 1.75;
          font-style: italic;
        }
        .testimonials__title {
          .name {
            font-size: 18px;
            color: $primary;
            margin-bottom: 5px;
            font-weight: 500;
          }
          .designation {
            font-size: 12px;
            color: $textColor;
            margin-bottom: 0;
            text-transform: capitalize;
          }
        }
      }

      .testimonials__quot {
        position: absolute;
        right: 40px;
        bottom: 40px;
      }
    }
  }
}
