$primary: #2f2482;
$secondary: #db0410;
$third: #322c59;
$black: #000000;
$white: #ffffff;
$textColor: #5f5d5d;
$titleColor: #161921;
$light-gray: #f2f2eb;

:root {
  --theme-color: #2467bf;
  --secondary-color: #113059;
}
